@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 18 18 18;
    --foreground: 225 225 230;
    --card: 30 30 36;
    --card-foreground: 225 225 230;
    --popover: 37 37 43;
    --popover-foreground: 225 225 230;
    --primary: 128 212 255;
    --primary-foreground: 18 18 18;
    --secondary: 37 37 43;
    --secondary-foreground: 225 225 230;
    --muted: 40 40 44;
    --muted-foreground: 164 164 171;
    --accent: 14 43 24;
    --accent-foreground: 108 213 138;
    --destructive: 229 184 66;
    --destructive-foreground: 18 18 18;
    --border: 40 40 44;
    --input: 37 37 43;
    --ring: 128 212 255;

    --android-background: 18 18 18;
    --android-foreground: 225 225 230;
    --android-card: 30 30 36;
    --android-card-foreground: 225 225 230;
    --android-popover: 37 37 43;
    --android-popover-foreground: 225 225 230;
    --android-primary: 128 212 255;
    --android-primary-foreground: 18 18 18;
    --android-secondary: 37 37 43;
    --android-secondary-foreground: 225 225 230;
    --android-muted: 40 40 44;
    --android-muted-foreground: 164 164 171;
    --android-accent: 14 43 24;
    --android-accent-foreground: 108 213 138;
    --android-destructive: 229 184 66;
    --android-destructive-foreground: 18 18 18;
    --android-border: 40 40 44;
    --android-input: 37 37 43;
    --android-ring: 128 212 255;
  }
}
